<?xml version="1.0"?>
<launch>

    <include file="$(find openpose_ros_node)/launch/videostream.launch" required="true">
    </include>

   <!--> <include file="$(find openpose_ros_node)/launch/serviceReadyTest.launch" required="true">
    </include> -->


    <node name="OpenPoseGossip" pkg="ros_openpose_gossip_node" type="OpenPoseGossip_node.py" output="screen" required="true">
    </node>
    

    <node name="Test_OpenPoseGossip_withWebCam" pkg="ros_openpose_gossip_examples" type="Test_OpenPoseGossip_withWebCam.py" output="screen" required="true">
    </node>    


<!--

  <rosparam file="$(find ros_color_detection_node)/config/common_color.yaml" />
  <node pkg="ros_color_detection_node" type="ColorDetectionNode.py" name="ColorDetectionNode"  output="screen" >

  </node>    -->

</launch>
